.employee-set {
    border : 1px solid green;
    padding : 10px;
  
    .active {
      background-color : yellow
    }
  
    .odd {
      background-color : grey
    }
  
    .even {
      background-color : lightgrey
    }
  }
  